* {
  margin: 0;
  padding: 0;
}

body {
  background: #6b92b9;
  overflow: hidden;
  overflow-y: scroll;
}

#game-canvas {
  /* display: block; */
  position: absolute;
}

#stickman-canvas {
  /* background-color: white; */
  position: absolute;
  top: 0;
  z-index: 100;
}

#ghosts-canvas {
  /* background-color: white; */
  position: absolute;
  top: 0;
}

#screenshot-canvas {
  /* z-index: 100; */
  /* background-color: lightblue; */
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 20%;
  left: 40%;
}
