* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  background-image: url("https://r.hswstatic.com/w_830/gif/redefinefourseasons-2.jpg");
  font-family: "Josefin Slab", serif;
}

.mute,
.unmute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.unmute img {
  display: none;
  width: 36px;
  height: 36px;
  filter: opacity(30%);
}

.mute img {
  width: 40px;
  height: 40px;
  filter: opacity(50%);
}

.mute img:hover {
  cursor: pointer;
}

.unmute img:hover {
  cursor: pointer;
}

#canvases {
  position: absolute;
  top: 70px;
  left: 15%;
  height: 500px;
  width: 1000px;
  border: 4px solid black;
  border-radius: 10px;
  overflow: hidden;
}

#game-canvas {
  /* display: block; */
  position: absolute;

  z-index: 100;
}

#stickman-canvas {
  /* background-color: white; */
  position: absolute;
}

#ghosts-canvas {
  /* background-color: white; */
  position: absolute;
  top: 0;
}

#screenshot-canvas {
  z-index: 100;
  /* background-color: lightblue; */
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 15%;
  left: 15%;
}

.header {
  background-color: tan;
  text-align: center;
}

.title {
  font-size: 30px;
  padding-top: 6px;
  margin: auto;
}

.author {
  font-size: 20px;
  margin: auto;
}

.contact {
  font-size: 30px;
  background-color: tan;
  position: absolute;
  bottom: 0;
  /* left: 10%; */
  width: 300px;
  line-height: 40px;
  vertical-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
.contact img {
  height: 30px;
  width: 30px;
  padding-right: 14px;
  vertical-align: center;
}
