* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  background-image: url("https://r.hswstatic.com/w_830/gif/redefinefourseasons-2.jpg");
  font-family: "Josefin Slab", serif;
}

.mute,
.unmute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.mute img {
  width: 36px;
  height: 36px;
  filter: opacity(30%);
}

.unmute img {
  display: none;
  width: 40px;
  height: 40px;
  filter: opacity(50%);
}

.mute img:hover {
  cursor: pointer;
  filter: opacity(70%);
}

.unmute img:hover {
  cursor: pointer;
  filter: opacity(70%);
}

.question {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.question img {
  width: 36px;
  height: 36px;
  filter: opacity(30%);
  margin: 4px;
  display: none;
}

.question img:hover {
  filter: opacity(70%);
  cursor: pointer;
}

#instructions {
  position: absolute;
  left: 350px;
  top: 180px;
  font-size: 30px;
  background-color: rgb(255, 255, 255, 0.9);
  width: 300px;
  z-index: 1000;
  padding: 20px;
  border-radius: 6px;
}

#close-x {
  position: absolute;
  width: 20px;
  line-height: 20px;
  font-size: 16px;
  color: grey;
  right: 16px;
  top: 16px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
}

#close-x:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}

#instructions img {
  height: 50px;
  width: 50px;
}

#instructions span {
  color: red;
}

#stuck {
  padding: 4px;
  margin-left: 10px;
  border-radius: 2px;
}

#stuck:hover {
  cursor: pointer;
}

#stuck:active {
  background-color: red;
}

#stuck:focus {
  outline: none;
}

#canvases {
  position: absolute;
  top: 70px;
  left: 15%;
  height: 500px;
  width: 1000px;
  border: 4px solid black;
  border-radius: 10px;
  overflow: hidden;
}

#game-canvas {
  /* display: block; */
  position: absolute;

  z-index: 100;
}

#stickman-canvas {
  /* background-color: white; */
  position: absolute;
}

#ghosts-canvas {
  /* background-color: white; */
  position: absolute;
  top: 0;
}

#screenshot-canvas {
  z-index: 100;
  /* background-color: lightblue; */
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 15%;
  left: 15%;
  /* border: 2px solid black; */
  border-radius: 4px;
  overflow: hidden;
}

.header {
  background-color: tan;
  text-align: center;
}

.title {
  font-size: 30px;
  padding-top: 6px;
  margin: auto;
}

.author {
  font-size: 20px;
  margin: auto;
}

.contact {
  font-size: 30px;
  background-color: tan;
  position: absolute;
  top: 620px;
  /* left: 10%; */
  width: 300px;
  line-height: 40px;
  vertical-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding-top: 10px;
}
.contact img {
  height: 30px;
  width: 30px;
  padding-right: 14px;
  /* padding-top: 10px; */
  vertical-align: center;
}
